<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQ_KqyheraSswpLrpsRsOiWzl9U7WYhLk</string>
	<key>GCM_SENDER_ID</key>
	<string>569509903058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.anirudhrao.Adulting-101-iOS</string>
	<key>PROJECT_ID</key>
	<string>adulting-101-e35ac</string>
	<key>STORAGE_BUCKET</key>
	<string>adulting-101-e35ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569509903058:ios:a85d12970846ecbcfc4b0b</string>
</dict>
</plist>